/* контейнер */
.schedule-table .p-datatable-table-container {
  background-color: #18181B;
}

/* сама таблица */
.schedule-table .p-datatable-table {
  background-color: #18181B;
}

/* header */
.schedule-table .p-datatable-thead > tr > th {
  background-color: #18181B;
  color: #E5E7EB;
  border-color: #3F3F46;
}

/* строки */
.schedule-table .p-datatable-tbody > tr {
  background-color: #18181B;
  color: #E5E7EB;
}

/* ячейки */
.schedule-table .p-datatable-tbody > tr > td {
  background-color: #18181B;
  border-color: #3F3F46;
}

/* hover */
.schedule-table .p-datatable-tbody > tr:hover {
  background-color: #27272A;
}
